@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
@import url("./normalize.css");
@import url("./utils.css");

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

/* page fade in */
body {
  animation: fadeInAnimation ease 0.8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#header-image::part(container) {
  height: 700px;
}

#header-image > h1 {
  color: white;
  font-size: 64px;
}

sevo-card h1,
sevo-card h2,
sevo-card h3,
sevo-card h4,
sevo-card h5,
sevo-card h6 {
  color: rebeccapurple;
}

#nav-main {
  /*position: fixed;
  top: 0;
  left: 0;*/
  position: sticky;
  top: 0;
  width: 100%;
}

#nav-main .close-trigger {
  color: white;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-navigation li {
  margin: 0;
  padding: 5px 0;
}

.main-navigation a {
  text-decoration: none;
  color: rgb(230, 230, 230);
  font-size: 22px;
  transition: all 0.3s ease;
}

.main-navigation a:hover {
  color: rebeccapurple;
}
